*{

   margin: 0px;
   padding: 0px;
}
/*------Navigation------*/
#nav-bar{
	position: sticky;
	top: 0px;
	z-index: 100;
	box-shadow: 3px 3px grey, -1em 0 .4em olive;

}.navbar-brand img{
	height: 80px;
	padding-left: 1px;
	border-radius: 50%;

}.navbar-nav li a{
	padding: 0px 5px;

}.navbar-nav li a{
	float: right;
	font-size: 15px;
	text-align: left; 
	font-family: initial;
}
#nav-bar ul li a:hover{
    color:#FFFAFA!important;
}
.navbar{
	background-color:#00CED1;
	height: 12vh !important;
}
.navbar-toggler{
  border: 0px !important;
 }
./*nav-link{
	background-color:#00CED1;
	border-radius: 50%;
	padding: 10px;*/


}
.nav-link{
	color: #555 !important;
	font-weight: 600;
	font-size: 16px;
  
}
/*--------Slider------*/
#slider{
   width: 100%;
   height: 80vh !important;

}.carousel-caption{
	top: 50%;
	transform: translateY(-50%);
	bottom: initial !important;
}
.carousel-caption h5{
	font-family: initial;
	font-size: 50px;
	font-weight: 600;
	color: #000080 !important;

}
.carousel-item img{
	height: 80vh !important;
	width: 100% !important;
	object-fit: cover;
	
}
#About{
	padding-top: 80px;
	color: #555;
	padding-bottom: 20px;
	font-family: initial;
}.About-content{
	padding-top: 20px;
	font-size: 15px;
}.progress{
	border-radius: 16px !important;
	margin-bottom: 10px;
}.interests-bar p{
   font-weight: 600;
   border-bottom: 6px;
}.progress-bar{
	border-radius: 16px;
}
/*--------Department-----*/

#Mentors{
	padding-top: 50px;
	padding-bottom: 50px;
	color: #555;
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(images/smile.jpg);
	background-size: cover;
	background-position: center;
	color: #efefef !important;
	background-attachment: fixed;
	font-family: initial;

}h1{
	padding-top: 28px;
	text-align: center;
	color: #000080 !important;
	padding-bottom: 10px;

}h1::after{
	content:'';
	display: block;
	background: #007bff;
	height:3px;
	width: 140px;
	margin: 10px auto 3px;

}.profile-pic{
	opacity: 1;
	display: block;
}.profile-pic:hover, .profile-pic h2:hover{
	background-color:deepskyblue;
	color: black;

}.profile-pic .img-box img{
      filter: grayscale(1);
      height: 200px;
      width: 200px;
      border-radius: 50%;
}.profile-pic .img-box img:hover{
      filter: grayscale(0);
      cursor:pointer;
}.profile-pic h2{
	font-size: 22px;
	font-weight: bold;
	margin-top: 15px;
	color: #007bff;
}.profile-pic h3{
	font-size: 15px;
	font-weight: bold;
	margin-top: 15px;

/*------Appointment------*/
}#Appointment{
   	padding-bottom: 50px;
   	height: 110vh;
	padding-top: 50px;
	background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.8)), url(images/dentist.jpg);
	background-size: cover;
	overflow: hidden;
	background-position: center;
	background-attachment: fixed;

}.inner-layer{
	position: cover;
	width: 100%;
	height:110vh;
	background-color: rgba(0,147,173,.9) ;
	padding: 0px;
	margin: 0px;
}.form-data{
	background-color: #fff;
	height: 60vh; 
}.form-body{
	padding: 5px;
}.form-head{

	padding: 5px;
	border-bottom: 1px solid #ccc;

}.form-row{
	margin-bottom:5px;

}.no-margin{
	margin: 0px;

}.form-control{
	background-color:#f7f7ff;
}
.form-control:focus{
	box-shadow: none;
	border:3px solid #138496;
}.btn-appointment{
	background-color: #138496 !important;
	 border-color: #138496 !important;
	 width: 100%;
}.content{
	margin-top: 15%;
	text-align: center;
	color:#fff;
}.content h2{
	font-weight: 600;
	font-size:35px !important;

}.content p{
	 font-size: 20px;

/*---------Management-------*/
}#Referees{
	padding-bottom: 50px;
	padding-top: 50px;
}#Referees .row{
	margin-top: 30px;
}.col-md-4{
	margin: 40px auto;
}.profile{
	padding:70px 10px 10px;
	background-color: #efefef;
}.user{
    width: 120px;
    height: 120px;
    border-radius: 50%;

}.profile img{
	top: -60px;
	position: absolute;
	left: calc(50%  -60px);
	 border:10px solid #fff;
}.profile h3{
	font-size: 12px;
	color: #007bff;
	margin-top: 15px;
}#Referees span{
	font-size: 12px;
	color: #333;
}
blockquote{
	font-size: 16px;
	line-height:30px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}
blockquote::before{
	content: '\93';
	color: #007bff;
	font-size: 50px;
	position: relative;;
	line-height: 20px;
	bottom: -15px;
	right: 5px;
}
blockquote::after{
	content: '\94';
	color: #007bff;
	font-size: 50px;
	position: relative;;
	line-height: 10px;
	bottom: -15px;
	left:5px; 
}
.profile:hover{
	box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
	cursor: pointer;
	transition: 0.5s;

/*---------- Get In Touch------*/
}#Contact{
	background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.8)), url(images/dentist.jpg);
	background-size: cover;
	background-position: center;

	background-attachment: fixed;
	padding-bottom: 40px;
	padding-top:40px;
	color: #777;

}.contact-form{
	padding: 15px;
}.form-control{
	border-radius: 0 !important;
	border:none !important;
}::placeholder{
	color: #999 !important;
}.follow{
	background:#fff;
	padding:10px;
	margin: 15px;
}.contact-info .fa{
	margin:10px;
	font-weight: bold;
	color: #007bff;
}#Footer{
	background-color: #1E90FF!important;
	color: #F5FFFA !important;
	text-align: right!important;
	height: 25px !important;
	margin: 0;
	padding: 0;
}
#Footer h6{
	font-size: 13px !important;
	font-family: initial;


}.aside{
	width: 250px;
	float: left;
}.aside input{
	display: block;
	margin: 10px 0px;
}